<div class="header">
  <div class="container">
    <div class="header-left">
      <img class="icon"  width="30" src="/images/icon.png" />
      <span><a href="/">Spotify Playlist Editor</a></span>
    </div>
    <div class="header-right">
        <ul class="nav">
        <li>
            <a href="#">...</a>
            <ul>
                <li><a href="/signout">Sign out</a></li>
            </ul>
        </li>

      </div>
    </div>
  </div>
</div>
