<!doctype html>
<html>
<%- include('../components/head'); %>
<body>
  <%- include('../components/header'); %>
  <div class="main-body">
    <div class="container">
      <h1>Oh dear</h1>
      <p>Something went wrong, please try again</p>
      <a class="btn btn-primary" href="/">Home</a>
    </div>
  </div>
</body>
<%- include('../components/footer'); %>
</html>
