<!doctype html>
<html>
<%- include('../components/head'); %>
<body>
  <%- include('../components/header'); %>
  <div class="main-body login">
    <div class="container">
      <div>
        <h1>Welcome</h1>
        <p>The Spotify Playlist Editor lets you reorder the tracks in your existing Spotify playlists. Sign in to get started.</p>
        <a href="/login" class="btn btn-primary btn-login">Sign in with Spotify</a>
      </div>
    </div>
  </div>
</body>
<%- include('../components/footer'); %>
</html>
